html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-family: sans-serif;
  padding-left: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > div {
  margin-bottom: 70px;  
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #3b5998;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  padding: 10px;
  margin-left: 0; 
}

a {
  text-decoration: none;
  color: white;
}

.header > div{
  margin: 10px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.headerTab {
  height: 30px;
  border-radius: 3px;
  background-color: #3963bc;
}

.logoAndTitle {
  font-size: 200%;
  font-weight: 300;
}

.btn {
  border-radius: 5px;
  border: 0;
  width: 120px;
  height: 30px;
  background-color: #3b5998;
}

.headerButton {
  position: absolute;
  right: 20px;
  background-color: #FCDFBA;
}


/* Body styling -- Motto area */

.body > * {
  text-align: center;
  align-items: center;
  justify-content: center; 
}

.bodyTop {
  display: flex;
  flex-direction: column;
}

.bodyTop > a{
  color:black;
  font-size: smaller;
  text-decoration: underline;
}

.bodyTop > * {
  margin: 10px;
}

.bodyTopText {
  font-size: 18px;
}

.motto {
  font-weight: 500;
  font-size: 300%;
  font-style: bold;
}

.subMotto{
  width: 760px;
}
.signUp {
  font-weight: bolder;
  color: white;
  width: 200px;
  height: 35px; 
  margin-top: 25px;
  margin-bottom: 5px;
}