<!DOCTYPE html>
<html lang="eu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../../static/styles/reset_password.css" />
    <script
      type="text/javascript"
      src="../../static/utils/send_request.js"
    ></script>
  </head>
  <body>
    <script
      type="text/javascript"
      src="../../static/scripts/reset_password.js"
    ></script>

    <div class="container">
      <div class="sub-container inputs">
        <div class="upper">
          <h1>Forgot Password</h1>
        </div>
        <div class="lower">
          <p>Input the email address connected to your account</p>

          <input
            class="emailInput"
            type="text"
            name="email"
            placeholder="Your Email Address"
          />
          <br />
          <br />
          <button class="btn">Reset Password</button>
        </div>
      </div>
    </div>
  </body>
</html>
