<!DOCTYPE html>
<html lang="eu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../../static/styles/reset_password.css" />
    <script
      type="text/javascript"
      src="../../static/utils/send_request.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="sub-container pre-reset">
        <div class="upper">
          <h1>Forgot Password</h1>
        </div>
        <div class="lower">
          <p>Input the email address connected to your account</p>

          <input
            class="emailInput"
            type="text"
            name="email"
            placeholder="Your Email Address"
          />
          <br />
          <br />
          <button class="btn resetBtn">Reset Password</button>
        </div>
      </div>
      <div class="sub-container post-reset">
        <div class="upper">
          <h1>Password Reset</h1>
        </div>
        <div class="lower">
          <p>
            If the email address you entered is associated with an account in
            our records, you will receive an email from us with instructions for
            resetting your password If you do not receive this email, please
            check your spam folder
          </p>
          <a href="login.html">
            <button class="btn">Back to login Page</button>
          </a>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="../../static/reset_password.js"
    ></script>
  </body>
</html>
