html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 450px;
    height: 400px;
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #ffffff;
}

h1 {
    color: white;
    font-size: 45px;
}
.upper {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5961f9ad;
}

.lower {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

input {
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.btn {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 10px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 2px 20px 0px #14294661;
    background-color: #5961f9;
    color: #ffffff;
}

.btn:hover {
    background-color: lightsalmon;
}

.pre-reset {
    visibility: hidden;
}

.post-reset {
    position: absolute;
    font-size: 16px;
}

.post-reset h1 {
    color: white;
}

.post-reset .lower {
    padding: 50px;
    padding-top: 20px;
}

.post-reset .lower p {
    margin-bottom: 30px;
}
