html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 900px;
    height: 700px;
    margin: auto;
}

.box-form {
    margin: 0 auto;
    width: 700px;
    height: 500px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
    position: relative;
}

.box-form div {
    height: auto;
}
.box-form .left {
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1d2023;
    overflow: hidden;
}
.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
}
.box-form .left .overlay h1 {
    font-size: 80px;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
}
.box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
}

.btn {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 2px 20px 0px #14294661;
    background-color: #5961f9;
    color: #ffffff;
}

.btn:hover {
    background-color: lightsalmon;
}

.loginGoogle {
    background: #4285fa;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 200px;
}

.box-form .right {
    padding: 40px;
    overflow: hidden;
}

/* @media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
} */
.box-form .right h5 {
    font-size: 60px;
    line-height: 0;
    margin: 60px;
}
.box-form .right p {
    font-size: 12px;
    color: #b0b3b9;
}
.box-form .right .inputs {
    overflow: hidden;
}
.box-form .right input {
    width: 100%;
    padding: 10px;
    padding-left: 0;
    margin-top: 15px;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b0b3b9;
}
.box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
}

label {
    display: block;
    position: relative;
}

/* Overlay for Signup */
.overlayS {
    position: absolute;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #273a64ea;
    border-radius: 10px;
    color: white;
}

.ov {
    position: relative;
    font-size: 12px;
    width: 250px;
}

.icon {
    height: 15px;
    width: 15px;
    margin: 0 auto;
}

.close {
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 3px;
    border: 0;
    outline: 0;
}

.ov input {
    width: 230px;
    border-radius: 15px;
    height: 30px;
    outline: 0;
    border: 0px;
    background-color: #8ea5d8;
    padding-left: 15px;
    padding-right: 15px;
    color: #373c47;
}

.inputCriteriaMsg {
    color: rgb(187, 69, 58);
    font-size: 10px;
    font-style: italic;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.ov label {
    margin-left: 5px;
    margin-bottom: 3px;
}

.signUpBtn {
    height: 30px;
    width: 160px;
    padding: 0;
    margin-top: 20px;
    font-size: 14px;
    background-color: #4285fa;
}

.finalMsg {
    position: absolute;
    top: 30px;
    margin: auto, auto;
    background-color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    visibility: hidden;
}

.finalMsg > * {
    margin: 5px;
}

.finalMsg > p {
    font-size: small;
}
.msgIcon {
    height: 40px;
    width: 40px;
}

.overlayS {
    visibility: hidden;
}

/* Responsive */
@media (max-width: 980px) {
    .right h5 {
        margin-left: 0;
        padding: 0;
    }

    .container {
        width: 900px;
        height: 100%;
    }
    .box-form {
        flex-direction: column;
        height: 700px;
    }

    .box-form .right h5 {
        font-size: 60px;
        line-height: 0;
        margin: 60px;
        margin-left: 2px;
    }

    .box-form .left .overlay span a {
        position: absolute;
        bottom: 35px;
        left: 200px;
    }

    .btn {
        float: left;
    }

    .loginGoogle {
        bottom: 35px;
        left: 200px;
    }

    .box-form .right .remember-me--forget-password {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .box-form .right .remember-me--forget-password * {
        margin-right: 20px;
    }

    .overlayS {
        height: 700px;
    }
}

input:focus {
    background-color: #d7d9f5;
}

a {
    font-size: 12px;
}
a:hover {
    color: #5961f9;
}
